:8885 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / auth:8885 {
            transparent
        }

    errors stderr
    tls off
}

:8884 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / profile:8884 {
            transparent
        }

    errors stderr
    tls off
}